{% extends 'base.html' %}

{% block content %}
    <!-- Jumbotron Text -->
    <!-- <h1>Be one of the lucky winners this week!</h1> -->
    {% if problems %}
        {% for problem in problems %}
        <div class="card">
            <h5 class="card-header">{{ problem.problem_category }}</h5>
            <div class="card-body">
            <h5 class="card-title">{{ problem.title_of_problem }}</h5>
            <p class="card-text">{{ problem.short_description }}</p>
            <a href={% url 'naija:create-profile' problem.id %} class="btn btn-outline-success">Start Solution</a>
            <a href={% url 'naija:list-solution' problem.id %} class="btn btn-outline-success">See Solutions</a>
            </div>
        </div>
        {% endfor %}
    {% else %}
        <h1>Problem don finally finish</h1>
    {% endif %}
{% endblock %}