{% extends 'base.html' %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li class = "alert alert-success" role="alert" >{{message}}</li>

  {% endfor %}
</ul>

{% endif %}

    {% if solutions %}
        {% for solution in solutions %}
            <div class="card">
                <div class="card-header">
                Number of votes: {{ solution.user_voted.all|length }}
                </div>
                
                <div class="card-body container">
                <h5 class="card-title">{{ solution.solution_title }}</h5>
                <p class="card-text" style="font-size:20px;" >{{ solution.solution_text }}</p>
                {% if user in solution.user_voted.all %}
                <span class="badge rounded-pill bg-danger">Voted</span>
                {% else %}
                <a href={% url 'naija:vote' solution.id %}?next={{ request.path|urlencode }} class="btn btn-success">Approve</a>
                {% endif %}
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No solutions yet</p>
    {% endif %}
{% endblock %}