{% extends 'base.html' %}
{% load bootstrap4 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% bootstrap_messages %}

{% block content %}

{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li class = "alert alert-success" role="alert" >{{message}}</li>

  {% endfor %}
</ul>

{% endif %}

    {% if solutions %}
        {% for solution in solutions %}
            <div class="card">
                <div class="card-header">
                Number of votes: 14
                </div>
                
                <div class="card-body">
                <h5 class="card-title">{{ solution.solution_title }}</h5>
                <p class="card-text" style="font-size:20px;" >{{ solution.solution_text }}</p>
                <a href="#" class="btn btn-warning">Approve</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p>No solutions yet</p>
    {% endif %}
{% endblock %}